
.topnav {
  background-color: #152636;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  border-radius: 20px;
}

.topnav h1 {
    color: #57b8be;
    margin: 0px 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s ease-in-out;
  margin: 0px 5px;
}

.topnav .nav-links a:hover {
  background-color: #57b8be;
  border-radius: 20px;
  color: black;
}

.topnav a.active {
  background-color: #57b8be;
  border-radius: 20px;
  color: black;
}

.topnav .icon {
  display: none;
}

/* Style the search box */
.Search-bar {
    margin: 10px 10px;
}

#mySearch {
  width: 90%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  margin: 10px;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: #57b8be;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

/*Styling the main content*/

.main-content {
    margin: 20px;
}